@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Santio_bold;
    src: url("../fonts/Santio/TTF/Santio\ Bold.ttf");
}

@font-face {
    font-family: Tangerine;
    src: url("../fonts/Tangerine/Tangerine-Bold.ttf");
}

html {
    font-size: 62,5%;
    height: 100vh;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    max-width: 144rem;
    margin: auto;
    height: 100vh;
}

/*  --- FONTS --- */
.font_santio {
    font-family: Santio_bold;
}

.font_roboto {
    font-family: Roboto;
}

.font_tangerine {
    font-family: Tangerine;
}

/* !! tidy up !! and create global styles */


/*  --- PARALLAX --- */
.parallax::before {
    content: "";
    width: 100vw;
    height: 100vh;
    background: url("../img/cleo-topper.jpg") no-repeat;
    background-position: 70% 0;
    background-size: cover;
    position: fixed;
    z-index: -1;
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.451);
}


/*  --- HEADER & 'SCROLL TO LEARN MORE' --- */
header {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 2vh 4vw 0 0;
}

nav ul li img {
    width: 1.6vw;
    margin-right: 1.5vw;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5vw;
    letter-spacing: .2vw;
    border-bottom: .25vh solid #e7bc0e;
}

nav ul li a:hover {
    box-shadow: 0 0 .3vw .2vw #e7bc0e;
}

header p {
    color: #fff;
    width: 25vw;
    font-size: 4.7vw;
    margin: 13vh 0 2vh 4vw;
}

.scroll_down p { 
    height: 50vh;
    color: #e7bc0e;
    margin: 15vh 0 0vh 4vw;
    font-size: 4vw;
    letter-spacing: -.15vw;
}

.scroll_down p span {
    display: inline-block;
    transform: rotate(265deg);
    vertical-align: -2vh;
    font-size: 7vw;
}


/*  --- INDIGENOUS_TEXT --- */
.indigenous_text p{
    color: #6bc1a3;
    font-size: 3.5vw;
    width: 75vw;
    margin: auto;
    line-height: 1.6;
}

.indigenous_text p span {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.393);
    padding: .5vh .5vw 0 .5vw;
}


/*  --- 2.5 MILLION --- */
.numberof_domestic_workers {
    height: 90vh;
    padding: 0vh 0 2vh 8vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.numberof_domestic_workers img {
    width: 15vw;
    padding-bottom: 8vh;
}

.numberof_domestic_workers h2 {
    color: #e7bc0e;
    font-size: 12.5vw;
}

.numberof_domestic_workers p {
    color: #e7bc0e;
    font-size: 3.6vw;
}

.numberof_domestic_workers p span {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.393);
    padding: .5vh .5vw 0 .5vw;
}


/* --- '$13 / HR' --- */
.pay {
    height: 90vh;
    padding-left: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pay img {
    width: 15vw;
    padding-bottom: 12vh;
}

.pay p {
    color: #cb91b6;
    font-size: 3.6vw;
}

.pay p span {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.393);
    padding: .5vh .5vw 0 .5vw;
}

.pay h2 {
    color: #cb91b6;  
    font-size: 12.5vw;
}


/*  --- HEALTH INSURANCE --- */
.health {
    height: 85vh;
    padding: 0vh 0 2vh 8vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.health img {
    width: 15vw;
    padding-bottom: 8vh;
}

.health h2 {
    color: #6bc1a3;
    font-size: 12.5vw;
}

.health p {
    color: #6bc1a3;
    font-size: 3.5vw;
}

.health p span {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.393);
    padding: .5vh .5vw 0 .5vw;
}

/*  --- UNSUNG HEROINES --- */
.unsung_heroines_text p {
    font-size: 3.5vw;
    color: #7eb8e1;
    width: 63vw;
    margin-left: 30vw;
    margin-bottom: 20vh;
    line-height: 1.6;
    padding-top: 40vh;
}
.unsung_heroines_text p span {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.393);
    padding: .5vh .5vw 0 .5vw;
}


/*  --- IMG on the BEACH */
.pic_beach {
    background: #efefef url("../img/see.png") no-repeat center center/cover;
    background-size: 115vw;
    overflow: hidden;
    /* ??? does the 'overflow' make sense here (and the next 1)??? */
}

.pic_beach img {
    width: 115vw;
    overflow: hidden;
    vertical-align: bottom;
    transform: translateX(-5%);
   /*  transform: translateY(1%); */
    /* with only 'translateY' or 'vertical-align' kommt die spalte auf schmallerem oder breitem screen wieder, WTF?
     */
}


/*  --- HELP & DONATE --- */
.help_donate {
    background-color: #000;
    color: #fff;
}

.help_donate p:first-of-type {
    font-size: 10vw;
    line-height: 1.1;
    width: 80vw;
    padding: 50vh 0 10vh 10vw;
}

.help_donate button {
    background-color: #000;
    border: #fff solid;
    font-size: 3.2vw;
    padding: 2vh 2.5vw;
    margin-left: 10vw;
}

.help_donate button a {
    text-decoration: none;
    color: #fff;
}

.help_donate button:hover {
    box-shadow: 0 0 .25vw .25vw #efefefe7;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
}

.help_donate p:last-of-type {
    width: 30vw;
    font-size: 1.5vw;
    text-align: center;
    margin: 30vh auto 0 auto;
    padding-bottom: 3vh;
    /* ! 'margin-bottom' uncovers bcg-img ! */
}

.help_donate p:last-of-type a {
    text-decoration: none;
    color: #6bc1a3;
}

.help_donate p:last-of-type a:hover {
    text-decoration: #6bc1a3 underline;
}

